/* Reset básico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Modelos de Carro */
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: black;
    background-color: beige;
}

/* Cabeçalho carro */
.hero{
    background-image: url(comida.jpg);
    background-size: cover;
    background-position: center;
    color: aliceblue;
    text-align: center;
    padding: 4rem 2rem;
}

.btn{
    background-color: azure;
    color: antiquewhite;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
}
.btn:hover{
    background-color: blue;
}

.sobre{
    background-color: aliceblue;
    padding:3rem 2rem;
    margin: 2rem auto;
    max-width: 600px;
    box-shadow: 0px 4px 8px rebeccapurple;
    border-radius: 8px;
    text-align: center;
}
.sobre h2 {
    color: rgb(41, 40, 40);
    font-size: 2em;
    margin-bottom: 1rem;
}