body{
   background-color: rgb(192, 190, 196);
}
main{
   width: 940px;
   margin: 0 auto;
}
form{
   margin: 40px 0;
}
form label, form legend{
   display: block;
   font-size: 20px;
   color: rgb(0, 81, 255);
   margin: 0 0 10px;
}
.enviar{
   width: 40%;
   padding: 15px 0;
   background: rgb(3, 111, 235);
   color: beige;
   font-weight: bold;
   font-size: 18px;
   border: none;
   border-radius: 5px;
   transition: 1s all;
   cursor: pointer;
}
.enviar:hover{
   background: rgb(68, 119, 212);
   transform: scale(1.2);
}
footer{
   text-align: center;
   padding: 40px 0;
}
.copyrignt{
   color: aliceblue;
   background-color: blueviolet;
   font-size: 13px;
   margin: 20px 0 0;
}
.input-padrao{
   display: block;
   margin: 0 0 20px;
   padding: 20px 25px;
   width: 50%;
}
.checkbox{
   margin: 20px 0;
}