table{
    width: 100%;
    border-collapse: collapse;
}
th{
    background-color: rgb(0, 0, 0);
    color: rgb(248, 232, 0);
    padding: 10px;
}
td{
    background-color: rgb(247, 247, 247);
    padding: 10px;
    text-align: center;
}
tr:nth-child(even) td{
    background-color: rgb(223, 231, 111);
}
table, th, td{
    border: 1px solid;
}