table{
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}
th,td{
    border: 1px solid gainsboro;
    padding: 8px;
    text-align: left;
}
th{
    background-color: aliceblue;
}
tr:nth-child(even){
    background-color: aliceblue;
}
tr:hover{
    background-color: aliceblue;
}
h1{
    font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}
h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}